[defaults]
inventory = ./inventory.ini
collections_paths = ./collections:/Users/chowdri/.ansible/collections:/usr/share/ansible/collections
roles_path = ./collections/ansible_collections/chowdri/aws_s3/roles:~/.ansible/roles:/usr/share/ansible/roles:/etc/ansible/roles
